@charset "UTF-8";
body{
    background-color: blanchedalmond;
}
h1{
    color: green;
    text-align: center;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}